<div class="container">


    <div class="row">
        <div class="col-lg-3">
            <div class="mb-4">
                <div class="small mb-3">Search</div>
                <div class="input-group">
                    <input placeholder="Search Projects..." type="search" class="form-control " ngModel
                        #searchProjet="ngModel" name="searchProject"
                        (ngModelChange)="searchProjets(searchProjet.value)">

                </div>
            </div>


            <div class="mb-4">
                <ul class="nav flex-column nav-pills">

                    <li class="nav-item">
                        <button type="button" [hidden]="!isAdminOrScrumMaster" class="btn btn-success"
                            data-toggle="modal" data-target="#addProjetModal">
                            <i class="fa fa-fw fa-plus mr-2"></i>Add New Project
                        </button>
                    </li>

                </ul>
            </div>
            <!--  <div class="mb-4">
                <div class="small mb-3"> My List Projects</div>
                <ul class="nav flex-column nav-pills">

                    <li class="nav-item">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myProjects">
                            <i class="fa fa-bars" aria-hidden="true"></i> My Projects

                        </button>
                    </li>


                </ul>
            </div> -->



        </div>








        <div class="col-lg-9">
            <div class="d-flex flex-column flex-md-row mb-3 mb-md-0">
                <nav class="mr-auto d-flex align-items-center" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="active breadcrumb-item" aria-current="page"><a href="/"><i
                                    class="fa fa-home"></i></a></li>


                        <li class="active breadcrumb-item" aria-current="page">Projects List</li>
                    </ol>
                </nav>
                <div role="toolbar" class="btn-toolbar">
                    <div role="group" class="mr-auto mr-md-2 btn-group">

                        <button type="button" id="refreshProjButton" (click)="getProjets(false)" class="btn btn-success">
                            <i *ngIf="refreshProjet" class="fa fa-sync fa-spin"></i> <i *ngIf="! refreshProjet"
                                class="fa fa-sync"></i>

                        </button>



                    </div>

                    <div role="group" class="btn-group" [hidden]="!isAdminOrScrumMaster">
                        <button class="align-self-center btn btn-primary" data-toggle="modal"
                            data-target="#addProjetModal"><i class="fa-fw fa fa-plus"></i></button>

                    </div>
                </div>
            </div>
            <div class="row" >

                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-header card-header-tabs card-header-warning">
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <ul class="nav nav-tabs" data-tabs="tabs">

                                        <li class="nav-item">
                                            <a class="nav-link active " [hidden]="!isAdmin" href="#adminProject"
                                                data-toggle="tab">
                                                <i class="material-icons"></i> Project Admin
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#allSM" [hidden]="!isAdmin" data-toggle="tab">
                                                <i class="material-icons"></i> Project All Scrum Master
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " href="#myprojet" [hidden]="!isAdminOrScrumMaster"
                                                data-toggle="tab">
                                                <i class="material-icons"></i> My Project
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link " href="#projetPOwner" [hidden]="!isProductOwner"
                                                data-toggle="tab">
                                                <i class="material-icons"></i> Projects ProductOwner
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>


                        <div class="card-body">
                            <div class="tab-content">
                                <!--admin list-->
                                <div class="tab-pane " id="adminProject">
                                    <div [hidden]="!isAdmin" class="mb-3 Card_custom-card--border_5wJKy card">
                                        <div class="table-responsive-xl">
                                            <table class="mb-0 table table-hover">
                                                <thead>
                                                    <tr>

                                                        <th class="align-middle bt-0">Project</th>
                                                        <th class="align-middle bt-0">Status</th>
                                                        <th class="align-middle bt-0">Tasks Completed</th>
                                                        <th class="align-middle bt-0">Created by</th>
                                                        <th class="align-middle bt-0">NB of Sprints</th>
                                                        <th class="align-middle bt-0">Nb of Tasks</th>
                                                        <th class="align-middle bt-0 text-right"><span> Actions</span>
                                                        </th>
                                                    </tr>
                                                </thead>



                                                <tbody class="pointer" *ngFor="let projet of projets; let y = index; ">
                                                    <tr *ngIf="projet" class="text-center">



                                                        <td (click)="onSelectProjet(projet)" class="align-middle">
                                                            <div><a href="/apps/tasks/list">{{projet.nameProjet}}</a>
                                                            </div><span>
                                                                Creation Date: {{projet.dateCreation}} <br> Due Date:
                                                                {{projet.dateEcheance}}
                                                            </span>
                                                        </td>


                                                        <td (click)="onSelectProjet(projet)" class="align-middle"><span
                                                                style="background: gray;"
                                                                class="badge badge-success badge-pill">
                                                                {{projet.etatProjet.substring(5)}}</span>


                                                        </td>
                                                        <td (click)="onSelectProjet(projet)" class="align-middle">
                                                            <div class="mb-2 progress" style="height: 5px;">
                                                                <div class="progress-bar bg-warning" role="progressbar"
                                                                    aria-valuenow="25" aria-valuemin="0"
                                                                    aria-valuemax="100" style="width:50%;"></div>
                                                            </div>
                                                            <div>Tasks Completed:<span
                                                                    class="text-inverse">{{nbTaskCompAdmin[y]}}/{{nbTaskAdmin[y]}}</span>
                                                            </div>
                                                        </td>
                                                        <td (click)="onSelectProjet(projet)" class="align-middle">
                                                            <div class="avatar-image avatar-image--loaded">
                                                                <div class="avatar avatar--md avatar-image__image">
                                                                    <div class="avatar__content"><img
                                                                            src="{{projet.creePar.profileImageUrl}}">
                                                                    </div>
                                                                    {{projet.creePar.username}}
                                                                </div>
                                                            </div>
                                                        </td>

                                                        <td (click)="onSelectProjet(projet)" class="align-middle"><span
                                                                style="background: red;"
                                                                class="badge badge-success badge-pill">
                                                                {{nbSallAdminProjet[y]}} </span>
                                                        </td>
                                                        <td (click)="onSelectProjet(projet)" class="align-middle"><span
                                                                style="background: greenyellow;"
                                                                class="badge badge-success badge-pill">
                                                                {{nbTaskAdmin[y]}}</span>


                                                        </td>
                                                        <td class="align-middle text-right">
                                                            <div class="btn-group">
                                                                <button class="btn btn-outline-info"
                                                                    (click)="onEditProjet(projet)">
                                                                    <i class="fas fa-edit"></i></button>
                                                                <button class="btn btn-outline-danger"
                                                                    (click)="onDeleteProjet(projet.idProjet)"> <i
                                                                        class="fas fa-trash"></i></button>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>

                                    </div>


                                </div>




                                <div class="tab-pane " id="projetPOwner">
                                    <div [hidden]="!isProductOwner" class="mb-3 Card_custom-card--border_5wJKy card">
                                        <div class="table-responsive-xl">
                                            <table class="mb-0 table table-hover">
                                                <thead>
                                                    <tr>

                                                        <th class="align-middle bt-0">Project</th>
                                                        <th class="align-middle bt-0">Status</th>
                                                        <th class="align-middle bt-0">Tasks Completed</th>
                                                        <th class="align-middle bt-0">Created by</th>
                                                        <th class="align-middle bt-0">NB of Sprints</th>
                                                        <th class="align-middle bt-0">Nb of Tasks</th>

                                                    </tr>
                                                </thead>

                                                <tbody class="pointer"
                                                    *ngFor="let projet of projetsPOwner ; let i=index; ">
                                                    <tr *ngIf="projet" class="text-center">



                                                        <td (click)="onSelectProjet(projet)" class="align-middle">
                                                            <div><a href="/apps/tasks/list">{{projet.nameProjet}}</a>
                                                            </div><span>
                                                                Creation Date: {{projet.dateCreation}} <br> Due Date:
                                                                {{projet.dateEcheance}}
                                                            </span>
                                                        </td>


                                                        <td (click)="onSelectProjet(projet)" class="align-middle"><span
                                                                style="background: gray;"
                                                                class="badge badge-success badge-pill">
                                                                {{projet.etatProjet.substring(5)}}</span>


                                                        </td>
                                                        <td (click)="onSelectProjet(projet)" class="align-middle">
                                                            <div class="mb-2 progress" style="height: 5px;">
                                                                <div class="progress-bar bg-success" role="progressbar"
                                                                    aria-valuenow="25" aria-valuemin="0"
                                                                    aria-valuemax="100" style="width: 25%;"></div>
                                                            </div>
                                                            <div>Tasks Completed:<span
                                                                    class="text-inverse">{{nbTaskCompProjetPOwner[i]}}/{{nbTaskProjetPOwner[i]}}</span>
                                                            </div>
                                                        </td>
                                                        <td (click)="onSelectProjet(projet)" class="align-middle">
                                                            <div class="avatar-image avatar-image--loaded">
                                                                <div class="avatar avatar--md avatar-image__image">
                                                                    <div class="avatar__content"><img
                                                                            src="{{projet.creePar.profileImageUrl}}">
                                                                    </div>
                                                                    {{projet.creePar.username}}
                                                                </div>
                                                            </div>
                                                        </td>

                                                        <td (click)="onSelectProjet(projet)" class="align-middle"><span
                                                                style="background: red;"
                                                                class="badge badge-success badge-pill">
                                                                {{nbSallProjetPOwner[i]}}</span>
                                                        </td>
                                                        <td (click)="onSelectProjet(projet)" class="align-middle"><span
                                                                style="background: greenyellow;"
                                                                class="badge badge-success badge-pill">
                                                                {{nbTaskProjetPOwner[i]}}</span>


                                                        </td>

                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>

                                    </div>


                                </div>







                                <div class="tab-pane " id="allSM">
                                    <div [hidden]="!isAdmin" class="mb-3 Card_custom-card--border_5wJKy card">
                                        <div class="table-responsive-xl">
                                            <table class="mb-0 table table-hover">
                                                <thead>
                                                    <tr>

                                                        <th class="align-middle bt-0">Project</th>
                                                        <th class="align-middle bt-0">Status</th>
                                                        <th class="align-middle bt-0">Tasks Completed</th>
                                                        <th class="align-middle bt-0">Created by</th>
                                                        <th class="align-middle bt-0">NB of Sprints</th>
                                                        <th class="align-middle bt-0">Nb of Tasks</th>

                                                        <th class="align-middle bt-0 text-right"><span> Actions</span>
                                                        </th>
                                                    </tr>
                                                </thead>

                                                <tbody class="pointer"
                                                    *ngFor="let projet of projetsSMall; let x=index; ">
                                                    <tr *ngIf="projet" class="text-center">



                                                        <td (click)="onSelectProjet(projet)" class="align-middle">
                                                            <div><a href="/apps/tasks/list">{{projet.nameProjet}}</a>
                                                            </div><span>
                                                                Creation Date: {{projet.dateCreation}} <br> Due Date:
                                                                {{projet.dateEcheance}}
                                                            </span>
                                                        </td>


                                                        <td (click)="onSelectProjet(projet)" class="align-middle"><span
                                                                style="background: gray;"
                                                                class="badge badge-success badge-pill">
                                                                {{projet.etatProjet.substring(5)}}</span>


                                                        </td>
                                                        <td (click)="onSelectProjet(projet)" class="align-middle">
                                                            <div class="mb-2 progress" style="height: 5px;">
                                                                <div class="progress-bar bg-success" role="progressbar"
                                                                    aria-valuenow="25" aria-valuemin="0"
                                                                    aria-valuemax="100" style="width: 25%;"></div>
                                                            </div>
                                                            <div>Tasks Completed:<span
                                                                    class="text-inverse">{{nbTaskCompSM[x]}}/{{nbTaskSM[x]}}</span>
                                                            </div>
                                                        </td>
                                                        <td (click)="onSelectProjet(projet)" class="align-middle">
                                                            <div class="avatar-image avatar-image--loaded">
                                                                <div class="avatar avatar--md avatar-image__image">
                                                                    <div class="avatar__content"><img
                                                                            src="{{projet.creePar.profileImageUrl}}">
                                                                    </div>
                                                                    {{projet.creePar.username}}
                                                                </div>
                                                            </div>
                                                        </td>

                                                        <td (click)="onSelectProjet(projet)" class="align-middle"><span
                                                                style="background: red;"
                                                                class="badge badge-success badge-pill">
                                                                {{nbSallProjet[x]}}</span>
                                                        </td>
                                                        <td (click)="onSelectProjet(projet)" class="align-middle"><span
                                                                style="background: greenyellow;"
                                                                class="badge badge-success badge-pill">
                                                                {{nbTaskSM[x]}}</span>


                                                        </td>
                                                        <td class="align-middle text-right">
                                                            <div class="btn-group">
                                                                <button class="btn btn-outline-info"
                                                                    (click)="onEditProjet(projet)">
                                                                    <i class="fas fa-edit"></i></button>
                                                                <button class="btn btn-outline-danger"
                                                                    (click)="onDeleteProjet(projet.idProjet)"> <i
                                                                        class="fas fa-trash"></i></button>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>

                                    </div>


                                </div>

                                <div class="tab-pane " id="myprojet">
                                    <div [hidden]="!isAdminOrScrumMaster"
                                        class="mb-3 Card_custom-card--border_5wJKy card">
                                        <div class="table-responsive-xl">
                                            <table class="mb-0 table table-hover">
                                                <thead>
                                                    <tr>

                                                        <th class="align-middle bt-0">Project</th>
                                                        <th class="align-middle bt-0">Status</th>
                                                        <th class="align-middle bt-0">Tasks Completed</th>
                                                        <th class="align-middle bt-0">Created by</th>
                                                        <th class="align-middle bt-0">NB of Sprints</th>
                                                        <th class="align-middle bt-0">Nb of Tasks</th>

                                                        <th class="align-middle bt-0 text-right">Actions</th>
                                                    </tr>
                                                </thead>

                                                <tbody class="pointer" *ngFor="let projet of myProjets; let z=index; ">
                                                    <tr *ngIf="projet">



                                                        <td (click)="onSelectProjet(projet)" class="align-middle">
                                                            <div><a href="/apps/tasks/list">{{projet.nameProjet}}</a>
                                                            </div><span>
                                                                Creation Date: {{projet.dateCreation}} <br> Due Date:
                                                                {{projet.dateEcheance}}
                                                            </span>
                                                        </td>


                                                        <td (click)="onSelectProjet(projet)" class="align-middle"><span
                                                                style="background: gray;"
                                                                class="badge badge-success badge-pill">
                                                                {{projet.etatProjet.substring(5)}}</span>


                                                        </td>
                                                        <td (click)="onSelectProjet(projet)" class="align-middle">
                                                            <div class="mb-2 progress" style="height: 5px;">
                                                                <div class="progress-bar" role="progressbar"
                                                                    aria-valuenow="25" aria-valuemin="0"
                                                                    aria-valuemax="100" style="width: 25%;"></div>
                                                            </div>
                                                            <div>Tasks Completed:<span
                                                                    class="text-inverse">{{nbTaskCompMyProjet[z]}}/{{nbTaskMyProjet[z]}}</span>
                                                            </div>
                                                        </td>
                                                        <td (click)="onSelectProjet(projet)" class="align-middle">
                                                            <div class="avatar-image avatar-image--loaded">
                                                                <div class="avatar avatar--md avatar-image__image">
                                                                    <div class="avatar__content"><img
                                                                            src="{{projet.creePar.profileImageUrl}}">
                                                                    </div>
                                                                    {{projet.creePar.username}}
                                                                </div>
                                                            </div>
                                                        </td>

                                                        <td (click)="onSelectProjet(projet)" class="align-middle"><span
                                                                style="background: red;"
                                                                class="badge badge-success badge-pill">
                                                                {{nbSallMyProjet[z]}} </span>


                                                        </td>
                                                        <td (click)="onSelectProjet(projet)" class="align-middle"><span
                                                                style="background: greenyellow;"
                                                                class="badge badge-success badge-pill">
                                                                {{nbTaskMyProjet[z]}} </span>


                                                        </td>

                                                        <td class="align-middle text-right">
                                                            <div class="btn-group">
                                                                <button class="btn btn-outline-info"
                                                                    (click)="onEditProjet(projet)">
                                                                    <i class="fas fa-edit"></i></button>
                                                                <button class="btn btn-outline-danger"
                                                                    (click)="onDeleteProjet(projet.idProjet)"> <i
                                                                        class="fas fa-trash"></i></button>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                </div>
                                <!--card et card body & ere card -->

                            </div>


                        </div>


                    </div>
                </div>
            </div>








        </div>
    </div>




    <button [hidden]="true" type="button" id="openProjetInfo" data-toggle="modal" data-target="#viewProjetModal">
    </button>
    <button [hidden]="true" type="button" id="openProjetEdit" data-toggle="modal" data-target="#editProjetModal">
    </button>









    <!--my projects list-->

    <!--  <div class="modal fade bd-example-modal-lg" id="myProjects" tabindex="-1" role="dialog" aria-labelledby=""
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center" id="exampleModalLongTitle">
                        <i class="fas fa-money-check"> My Projects : </i>
                    </h4>
                    <button class="btn-close" type="button" id="openProjetList" aria-label="Close"
                        data-dismiss="modal"><span aria-hidden="true"></span>
                    </button>

                </div>


                <ul class="list-group list-group-flush">
                    <li class="list-group-item"> <i class="fas fa-file-signature"> Projects Name :</i></li>

                    <li *ngFor="let projet of myProjets" class="list-group-item">
                        <i class="far fa-star"> {{projet.nameProjet}}</i>
                    </li>


                </ul>



            </div>

        </div>


    </div>

 -->




    <!-- edit Projet -->

    <div class="modal draggable fade bd-example-modal-lg" id="editProjetModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center"><i class="fas fa-edit">Edit: {{editProjet.nameProjet }} </i>
                    </h5>
                    <button class="btn-close" type="button" id="openProjetInfo" aria-label="Close"
                        data-dismiss="modal"><span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="">

                        <form #editProjetForm="ngForm">
                            <div class="form-group">
                                <label for="nameProjet"> name Project</label>
                                <input type="text" name="nameProjet" required [(ngModel)]="editProjet.nameProjet"
                                    class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="creePar"> Created By </label>
                                <input type="text" name="creePar" required [(ngModel)]="editProjet.creePar.username"
                                    class="form-control">
                            </div>


                            <div class="form-group">
                                <label for="dateEch">Due Date</label>
                                <input type="date" name="dateEcheance" required [(ngModel)]="editProjet.dateEcheance"
                                    class="form-control">
                            </div>


                            <div class="form-group">
                                <label for="status">Status Project</label>
                                <select name="etatProjet" required [(ngModel)]="editProjet.etatProjet"
                                    class="form-control">

                                    <option value="ETAT_ACTIVE"> ACTIVE</option>
                                    <option value="ETAT_SUSPENDED">SUSPENDED
                                    </option>
                                    <option value="ETAT_COMPLETED">COMPLETED
                                    </option>
                                    <option value="ETAT_PAUSED">PAUSED
                                    </option>

                                </select>

                            </div>


                            <div class="form-group">
                                <label for="client">Client: {{editProjet.client.username}} </label>
                                <select name="client" required [(ngModel)]="editProjet.client"
                                    [disabled]="!isAdminOrScrumMaster" class="form-control">

                                    <option *ngFor="let client of clients" [ngValue]=client>{{client.username}}</option>

                                </select>

                            </div>





                        </form>

                    </div>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        id="edit-projet-close">Close</button>
                    <button type="button" (click)="onUpdateProjet()" [disabled]="editProjetForm.invalid"
                        class="btn btn-primary"> Save changes
                    </button>
                </div>

            </div>
        </div>

    </div>






    <!-- detail Projet  -->


    <div class="modal fade bd-example-modal-lg" id="viewProjetModal" tabindex="-1" role="dialog" aria-labelledby=""
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 *ngIf="selectedProjet" class="modal-title text-center" id="exampleModalLongTitle">
                        <i class="fas fa-money-check"> Project : {{selectedProjet.nameProjet}} </i>
                    </h4>
                    <button class="btn-close" type="button" id="openProjetInfo" aria-label="Close"
                        data-dismiss="modal"><span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body" *ngIf="selectedProjet!==undefined">
                    <div>

                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-sm-auto ">
                                        <div class="mx-auto" style="width: 120px;">
                                            <div class="d-flex justify-content-center align-items-center rounded">
                                                <img class="rounded" height="120" width="120"
                                                    src="{{selectedProjet.creePar.profileImageUrl}}"
                                                    alt="{{selectedProjet.creePar.username}}">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col d-flex flex-column flex-sm-row justify-content-between ">
                                        <div class="text-left text-sm-left  mb-sm-0">

                                            <h5 class="pt-sm-2 pb-1 mb-0 text-nowrap"><i class="fas fa-user-shield">
                                                    Created
                                                    by:
                                                    {{selectedProjet.creePar.username}}</i>
                                            </h5>
                                            <!--                                             <p class="mb-1">{{selectedUser.telephone}}</p>
-->
                                            <div class="">
                                                <i
                                                    class="fa fa-shield-alt float-right">{{selectedProjet.creePar.role.substring(5)}}</i>

                                            </div>


                                            <div class="text-muted"><small>
                                                    <div class=""> Contact: </div>
                                                    {{selectedProjet.creePar.email}}
                                                </small></div>


                                        </div>

                                        <div class="text-center text-sm-right">

                                            <div *ngIf="selectedProjet.dateCreation" class="text-muted">
                                                <small> Creation Date :
                                                </small>
                                            </div>
                                            <div *ngIf="selectedProjet.dateCreation" class="text-muted">
                                                <small>
                                                    {{selectedProjet.dateCreation | date:'medium'
                                                    }}</small>
                                            </div>

                                            <div class="text-muted"><small>Due Date
                                                </small></div>
                                            <div *ngIf="selectedProjet.dateEcheance" class="text-muted"><small>
                                                    {{selectedProjet.dateEcheance|date:'medium'
                                                    }}</small></div>
                                            <div class="text-muted"><small>Last Updated Date
                                                </small></div>
                                            <div *ngIf="selectedProjet.dateModification" class="text-muted"><small>
                                                    {{selectedProjet.dateModification|date:'medium'
                                                    }}</small></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"></li>

                                <li class="list-group-item">
                                    <i class="fas fa-file-signature"> Project Name :
                                        {{selectedProjet.nameProjet}}</i>
                                </li>



                                <li class="list-group-item">
                                    <i class="fas fa-info-circle"> Status :
                                        {{selectedProjet.etatProjet.substring(5)}}
                                    </i>
                                </li>
                                <li class="list-group-item" *ngIf="selectedProjet.dateModification">
                                    <i class="fas fa-edit">Last Updated :
                                        {{selectedProjet.dateModification|date:'medium'}}</i>

                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-user"> Client : {{selectedProjet.client.username}}

                                    </i>

                                </li>


                                <!--   <li class="list-group-item">
                                    <i class="fas fa-users"> Participants : </i>

                                </li> -->



                            </ul>
                        </div>


                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            id="new-projet-close">Close</button>
                    </div>
                </div>


            </div>


        </div>


    </div>




    <!-- add Projet  -->




    <div class="modal draggable fade bd-example-modal-lg" id="addProjetModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center"><i class="fas fa-folder-plus"> New Project</i> </h4>
                    <button class="btn-close" type="button" id="openProjetInfo" aria-label="Close"
                        data-dismiss="modal"><span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>

                        <form #newProjetForm="ngForm" (ngSubmit)="onAddNewProjet(newProjetForm.value) ">
                            <div class="form-group">
                                <label for="name"> name Project</label>
                                <input type="text" name="nameProjet" required [(ngModel)]="nameProjet"
                                    class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="dateEch">Due Date</label>
                                <input type="date" name="dateEcheance" required [(ngModel)]="dateEcheance"
                                    class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="status"> Status Project</label>
                                <select name="etatProjet" required ngModel="ETAT_PAUSED" class="form-control">

                                    <option value="ETAT_ACTIVE"> ACTIVE</option>
                                    <option value="ETAT_SUSPENDED">SUSPENDED
                                    </option>
                                    <option value="ETAT_COMPLETED">COMPLETED
                                    </option>
                                    <option value="ETAT_PAUSED">PAUSED
                                    </option>

                                </select>

                            </div>


                            <div class="form-group">
                                <label for="client">Client </label>
                                <select name="client" required [(ngModel)]="client" class="form-control">

                                    <option *ngFor="let client of clients" [ngValue]=client>{{client.username}}</option>

                                </select>

                            </div>


                            <div class="form-group">
                                <label for=" creePar">Created by</label>
                                <h5> {{ userActuel.username}}</h5>


                                <input [hidden]="true" type="text" name="creePar" required [(ngModel)]="userActuel"
                                    class="form-control">
                            </div>



                            <button type="submit" style="display: none;" id="new-projet-save"></button>

                        </form>

                    </div>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        id="new-projet-close">Close</button>
                    <button type="button" (click)="saveNewProjet()" [disabled]="newProjetForm.invalid"
                        class="btn btn-primary">
                        Save changes </button>
                </div>
            </div>
        </div>

    </div>







</div>