.background{
    margin: auto;
    height: 50%;
    width: 100%;
    padding: 10px;
  }
  
  .center-c {
    margin: auto;
    margin-top: 20%;
    height: 50%;
    width: 50%;
    padding: 10px;
  }
  