<div class="container">
    <div class="row">






        <nav class="mr-auto d-flex align-items-center" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="active breadcrumb-item" aria-current="page"><a href="/">
                    <i class="fas fa-chart-bar"></i>  </a></li>
                <li class="active breadcrumb-item" aria-current="page"><strong>Projects</strong></li>
            </ol>
        </nav>
        <div class="col-md-2 col-xl-1">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Total Projects</h6>
                    <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span>{{totalProjet}}
                        </span></h2>
                    <p class="m-b-0"><span class="f-right"></span></p>
                </div>
            </div>
        </div>
        
        <div class="col-md-2 col-xl-1">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <p class="m-b-0">Active Projects</p>      
                     <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span>
                       {{ totalPActive}}
                       </span></h2>
                    
                </div>
            </div>
        </div>
        
        <div class="col-md-2 col-xl-1">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Paused Projects</h6>
                    <h2 class="text-right"><i class="fa fa-pause f-left"></i><span>{{totalPPaused}}</span></h2>
                    <p class="m-b-0"><span class="f-right"></span></p>
                </div>
                
            </div>
        </div>
        <div class="col-md-2 col-xl-1">
            <div class="card bg-info order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Completed Projects</h6>
                    <h2 class="text-right"><i class="fa fa-check f-left"></i><span>{{totalPCompleted}}</span></h2>
                    <p class="m-b-0"><span class="f-right"></span></p>
                </div>
            </div>
        </div>
        
        <div class="col-md-2 col-xl-1">
            <div class="card bg-c-pink bg-purple
            order-card">
            <div class="card-block">
                <h6 class="m-b-20">Suspended Projects</h6>

                <h2 class="text-right"><i class="fa  fa-times f-left"></i> <span>{{totalPSuspended}}</span></h2>
            </div>
            </div>
        </div>
        


<!--sprint statistique-->



        <nav class="mr-auto d-flex align-items-center" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="active breadcrumb-item" aria-current="page"><a href="/">
                    <i class="fas fa-chart-bar"></i>  </a></li>


                <li class="active breadcrumb-item" aria-current="page"><strong>Sprints</strong></li>
            </ol>
        </nav>
        <div class="col-md-2 col-xl-1">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Total Sprints </h6>
                    <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span>{{totalSprint}}</span></h2>
                    <p class="m-b-0"><span class="f-right"></span></p>
                </div>
            </div>
        </div>
        
        <div class="col-md-2 col-xl-1">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Paused Sprints </h6>
                    <h2 class="text-right"><i class="fa fa-pause f-left"></i><span>{{totalSPaused}}</span></h2>
                    <p class="m-b-0"><span class="f-right"></span></p>
                </div>
            </div>
        </div>
        
        <div class="col-md-2 col-xl-1">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Development Sprints </h6>
                    <h2 class="text-right"><i class="fa fa-refresh f-left"></i><span>{{totalSDevelopment}}</span></h2>
                    <p class="m-b-0"><span class="f-right"></span></p>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-xl-1">
            <div class="card bg-info order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Testing Sprints</h6>
                    <h2 class="text-right"><i class="fa fa-cogs f-left"></i><span>{{totalSTesting}}</span></h2>
                    <p class="m-b-0"><span class="f-right"></span></p>
                </div>
            </div>
        </div>
        
        <div class="col-md-2 col-xl-1">
            <div class="card bg-c-pink bg-purple
            order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Delivery Sprints</h6>
                    <h2 class="text-right"><i class="fa fa-truck-loading f-left"></i>  <span>{{totalSDelivery}}</span></h2>
                    <p class="m-b-0"><span class="f-right"></span></p>
                </div>
            </div>
        </div>
        




<!--tasks statistique-->


        <nav class="mr-auto d-flex align-items-center" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="active breadcrumb-item" aria-current="page"><a href="/">
                    <i class="fas fa-chart-bar"></i>  </a></li>


                <li class="active breadcrumb-item" aria-current="page"><strong>Tasks</strong></li>
            </ol>
        </nav>
        <div class="col-md-2 col-xl-1">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Total Tasks</h6>
                    <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span>{{totaltask}}</span></h2>
                    <p class="m-b-0"><span class="f-right"></span></p>
                </div>
            </div>
        </div>
        
        
        <div class="col-md-2 col-xl-1">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Unstarted Tasks</h6>
                    <h2 class="text-right"><i class="fa fa-pause f-left"></i><span>{{totalUnstarted}}</span></h2>
                    <p class="m-b-0"><span class="f-right"></span></p>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-xl-1">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h6 class="m-b-20">In Progress Tasks</h6>
                    <h2 class="text-right"><i class="fa fa-refresh f-left"></i><span>{{totalInProgress}}</span></h2>
                    <p class="m-b-0"><span class="f-right"></span></p>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-xl-1">
            <div class="card bg-info order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Completed Tasks</h6>
                    <h2 class="text-right"><i class="fa fa-tasks f-left"></i>  <span>{{totalFinish}}</span></h2>
                    <p class="m-b-0"><span class="f-right"></span></p>
                </div>
            </div>
        </div>
        
        <div class="col-md-2 col-xl-1">
            <div class="card bg-c-pink bg-purple
            order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Cancel Tasks</h6>
                    <h2 class="text-right"><i class="fa  fa-times f-left"></i><span>{{totalAnnule}}</span></h2>
                    <p class="m-b-0"><span class="f-right"></span></p>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-xl-1">
            <div class="card bg-danger order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Archived Tasks</h6>
                    <h2 class="text-right"><i class="fa fa-archive f-left"></i><span>{{totalArchive}}</span></h2>
                    <p class="m-b-0"><span class="f-right"></span></p>
                </div>
            </div>
        </div>
	</div>
</div>