<nav class="navbar navbar-inverse" *ngIf="this.authServ.isLoggedIn()">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/firstWindows"  >Management Tasks   </a>
    </div>
   <!--  <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/">Home</a></li>
    </ul> -->
    <ul class="nav navbar-nav">
      <li ><a routerLink="/dashbord">Dashbord</a></li>
    </ul>


    
    <ul class="nav navbar-nav">
      <li><a routerLink="/user/management" [hidden]="!isAdminOrScrumMaster">users</a></li>
    </ul>

    <ul class="nav navbar-nav" [hidden]="!isAdminOrScrumMasterOrProductOwner">
      <li><a routerLink="/projet">Projet</a></li>
    </ul>
    <ul class="nav navbar-nav" [hidden]="!isMember">
      <li> <a routerLink="/sprint">sprint</a></li>
    </ul>
    
    <ul class="nav navbar-nav"[hidden]="true">
      <li><a routerLink="/Calandrie">Calandrie</a></li>
    </ul> 
    

  <ul class="nav navbar-nav" [hidden]="true">
        <li><a routerLink="/msg">chat</a></li>
      </ul> 
      
     <!--  <ul class="nav navbar-nav">
        <li><a routerLink="/chat">chat</a></li>
      </ul> -->

    <!--   <ul class="nav navbar-nav"><li><a routerLink="/event"><i class="fas fa-calendar-week"></i> calandrie</a></li>
      </ul> -->
      <ul class="nav navbar-nav nav navbar-right">
        <li><a routerLink="/event"><i class="fas fa-calendar-week"></i> Events</a></li>
<!--         <li><a routerLink="/document"><i class="far fa-folder-open"></i> Files</a></li>
 -->
      </ul> 
      <ul class="nav navbar-nav nav navbar-right">
        <li><a routerLink="/document"><i class="far fa-folder-open"></i> Files</a></li>

      </ul> 
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/profile"> <i class="fas fa-user-circle"> Profile</i></a></li>
        </ul>
  </div>
</nav>


<router-outlet></router-outlet>
<notifier-container></notifier-container>