<div class="container">
  <div class="panel panel-success">
    <div class="panel-heading"> Liste des Utilisateurs</div>
    <div class="panel-body">
      <button class="btn btn-primary" (click)="onGetUsers()">Utilisateurs</button>
    </div>
    <div class="panel-body">

      <!-- <form #f=ngForm (ngSubmit)="onChercher(f.value)">
        <div class="form-groupe">
          <label>Keyword </label>
          <input type="text"   name="keyword" ngModel/> 
          <button type="submit" class="btn btn-primary">Chercher </button>
        </div>

      </form> -->
      <table *ngIf="users " class="table table-striped">
        <tr>
          <th> idUser </th>
          <th>nomUser</th>
          <th>emailUser </th>
          <th>telephone</th>
          <th> posteUser </th>
          <th>typeUser </th>
       
          <th>password </th>
          <th>etatUser </th>
        </tr>

        <tr *ngFor="let u of users._embedded.users">
          <td>{{u.idUser}}</td>
          <td>{{u.nomUser}}</td>
          <td>{{u.emailUser}}</td>
          <td>{{u.telephone}}</td>
          <td>{{u.posteUser}}</td>
          <td>{{u.typeUser}}</td>
        
          <td>{{u.password}}</td>
          <td> <span class="badge badge-pill badge-secondary">
             <i class="fa fa-thumbs-up" ></i>
          </span> </td>
          
          <td><a  class="btn btn-danger">Delete</a></td>




        </tr>
      </table>
      <ul *ngIf="pages"  class="nav nav-pills" >
        <li class="clickable" [ngClass]="i==currentPage?'active':''" *ngFor="let p of pages; let i=index">
          <a (click)="onPageUser(i)" >  {{i}} </a>
        </li>
      </ul>
    </div>
  </div>
</div>