.scroller {
    width: 450px;
    height: 75px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
  }


body{
    background: #F4F7FD;
    margin-top:20px;
}

.event-list .event-item {
    padding: 1rem 1.9rem;
    margin: 0 0.9375rem 1.875rem 0.9375rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}

.event-list .event-item.featured {
    border: 1.5px solid #68cbd7;
}

.event-list .event-item .event-schedule {
    color: #3c4142;
    margin-bottom: 0.625rem;
}

.event-list .event-item .event-schedule .event-icon {
    stroke-width: 1px;
    width: 1.125rem;
    height: 1.125rem;
    margin: 0.6875rem 1rem 0 0;
}

.event-list .event-item .event-schedule .event-day {
    font-size: 70px;
    font-weight: 200;
    margin-right: 1rem;
    line-height: 100%;
}

.event-list .event-item .event-schedule .event-month-time {
    font-weight: 200;
    font-size: 22px;
    display: flex;
    line-height: 118%;
    flex-direction: column;
    justify-content: center;
}

.event-list .event-item .event-schedule .event-month-time span {
    display: block;
    text-transform: uppercase;
}

.event-list .event-item .event-title {
    display: block;
    margin-bottom: 0.625rem;
    font-weight: 300;
    color: #3c4142;
}

.event-list .event-item .event-title:hover {
    color: #68cbd7;
    text-decoration: none;
}

.event-list .event-item .event-content {
    color: #b1bac5;
    margin-bottom: 0.625rem;
    font-size: 12px;
    font-weight: 300;
}

.event-list .event-item .event-participants {
    padding: 0;
    margin: 0;
}

.event-list .event-item .event-participants .event-user {
    width: 48px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #ffffff;
}

.event-list .event-item .event-participants .event-user .event-user-inital {
    font-size: 13px;
    line-height: 100%;
}

.event-list .event-item .event-participants {
    display: flex !important;
}

.event-list .event-item .event-participants .event-user .event-user-pic {
    width: 100%;
    border-radius: 50%;
}

.event-list .event-item .event-participants li + li {
    margin-left: -10px;
}


.event-list .event-item .event-participants {
    flex-direction: row !important;
}
.event-list .event-item .event-participants {
    padding: 0;
    margin: 0;
}

.bg-soft-primary {
    background-color: #dce3fa;
}

.bg-soft-danger {
    background-color: #fedce0;
}

.bg-soft-info {
    background-color: #d7efff;
}

.bg-soft-success {
    background-color: #d1f6f2;
}

.event-list .event-item .event-schedule, .event-list .event-item .event-participants{
    display: flex !important;
}


.owl-prev {
  width: 100px;
  height: 100%;
  position: absolute;
  top: 0;
  margin-left: 0;
  display: block !important;
  background-image: linear-gradient(to right, #F4F7FD, transparent) !important;
}

.owl-prev .owl-nav-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.owl-prev .owl-nav-wrapper svg, .owl-prev .owl-nav-wrapper i {
  color: #ffffff;
  width: 20px;
  height: 20px;
}

.owl-next {
  width: 100px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: block !important;
  background-image: linear-gradient(to right, transparent, #F4F7FD) !important;
}

.owl-next .owl-nav-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.owl-next .owl-nav-wrapper svg, .owl-next .owl-nav-wrapper i {
  color: #ffffff;
  width: 20px;
  height: 20px;
}

.owl-dots {
  text-align: center;
  margin-top: .5rem;
}

.owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #cbcbcb !important;
  margin-right: 5px;
  display: inline-block;
}

.owl-dots .owl-dot.active {
  background: #757575 !important;
}

.text-primary, .task-list-wrapper .completed .remove {
    color: #4e73e5 !important;
}

.carousel-control.right {
    background-image: none !important;
}
.carousel-control.left {
    background-image: none !important;
}






.project-people,
.project-actions {
  text-align: right;
  vertical-align: middle;
}
dd.project-people {
  text-align: left;
  margin-top: 5px;
}
.project-people img {
  width: 32px;
  height: 32px;
}
.project-title a {
  font-size: 14px;
  color: #676a6c;
  font-weight: 600;
}
.project-list table tr td {
  border-top: none;
  border-bottom: 1px solid #e7eaec;
  padding: 15px 10px;
  vertical-align: middle;
}
.project-manager .tag-list li a {
  font-size: 10px;
  background-color: white;
  padding: 5px 12px;
  color: inherit;
  border-radius: 2px;
  border: 1px solid #e7eaec;
  margin-right: 5px;
  margin-top: 5px;
  display: block;
}
.project-files li a {
  font-size: 11px;
  color: #676a6c;
  margin-left: 10px;
  line-height: 22px;
}