<div class="container">
    <div class="col">
        <div class="row">
            <div class="col mb-3">
              

    <div class="card">
        <div class="card-body">
            <div class="e-profile">
                <div class="row">
                    <div class="col-12 col-sm-auto mb-3">
                        <div class="mx-auto" style="width: 120px;">
                            <div
                                class="d-flex justify-content-center align-items-center rounded">
                                <img class="rounded" height="135" width="135"
                                    src="{{user.profileImageUrl}}" alt="">
                            </div>


                            <div *ngIf="fileStatus.status==='progress'" class="progress mt-1">
                                <div class="progress-bar bg-info" role="progressbar"
                                    [style.width.%]="fileStatus.percentage" aria-valuenow="0"
                                    aria-valuemin="0" aria-valuemax="100">
                                    {{fileStatus.percentage}}%
                                </div>
                            </div>



                        </div>
                    </div>


                    <div
                        class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                        <div class="text-center text-sm-left mb-2 mb-sm-0">
                            <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{user.username}}
                            </h4>
                            <p class="mb-0"> ID :{{user.userId}}</p>

                            <div *ngIf="user.lastLoginDateDisplay !==null" class="text-muted">
                                <small>Last Login: {{
                                    user.lastLoginDateDisplay | date: 'medium'}}</small>
                            </div>

                            <div class="mt-2">
                                <button (click)="updateProfileImage()" class="btn btn-primary"
                                    type="button">
                                    <i class="fa fa-fw fa-camera"></i>
                                    <span>Change Photo</span>
                                </button>
                            </div>
                        </div>
                        <div class="text-center text-sm-right">
                            <div class="text-muted"><small>Joined :{{ user.joinDate |
                                    date:'mediumDate'}} </small></div>
                        </div>
                    </div>
                </div>



                <div class="tab-content pt-3">
                    <div class="tab-pane active">
                        <form #profileUserForm="ngForm"
                            (ngSubmit)="onUpdateCurrentUser(profileUserForm.value)" class="form"
                            novalidate="">
                            <div class="row">
                                <div class="col">
                                    <div class="row ">

                                        <div class="col ">
                                            <div class="form-group">
                                                <label>&nbsp;&nbsp; Username</label>
                                                <input class="form-control " type="text"
                                                    name="username" required
                                                    [(ngModel)]="user.username">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label>&nbsp;&nbsp; Profession</label>
                                                <input class="form-control" type="text"
                                                    name="professionUser" required
                                                    [(ngModel)]="user.professionUser">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label>&nbsp;&nbsp; Telephone</label>
                                                <input class="form-control" type="number"
                                                    name="telephone" required
                                                    [(ngModel)]="user.telephone">
                                            </div>
                                        </div>
                                    </div>




                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label>&nbsp;&nbsp; Email</label>
                                                <input class="form-control" type="text"
                                                    name="email" required
                                                    [(ngModel)]="user.email">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col mb-3">
                                            <div class="form-group">
                                                <label> &nbsp;&nbsp; Role : {{user.role.substring(5)}}</label>

                                                <select [hidden]="!isAdmin" name="role" required
                                                    [(ngModel)]="user.role"
                                                    class="form-control">
                                                    <option value="ROLE_MEMBER">MEMBER
                                                    </option>
                                                    <option value="ROLE_CHEF">CHEF
                                                    </option>
                                                    <option value="ROLE_SCRUM_MASTER">
                                                        SCRUM_MASTER
                                                    </option>
                                                    <option value="ROLE_ADMIN">ADMIN
                                                    </option>
                                                </select>



                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div [hidden]="true" class="row">
                                <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                                    <div class="mb-2"><b>Account Settings</b></div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="custom-controls-stacked px-2">
                                                <div class="custom-control custom-checkbox">
                                                    <input name="isActive" type="checkbox"
                                                        [(ngModel)]="user.isActive"
                                                        class="custom-control-label">

                                                    <label
                                                        class="custom-control-label">Active</label>

                                                </div>
                                                <div class="custom-control custom-checkbox">

                                                    <input name="isNotLocked" type="checkbox"
                                                        [(ngModel)]="user.isNotLocked"
                                                        class="custom-control-input">

                                                    <label
                                                        class="custom-control-label">Unlocked</label>


                                                </div>



                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="row">
                                <div class="col d-flex justify-content-end">
                                    <button type="submit" [disabled]="false"
                                        class="btn btn-primary">
                                        <i *ngIf="refreshing"
                                            class="fas fa-spinner fa-spin"></i> &nbsp;&nbsp;
                                        <span *ngIf="refreshing">Loading....</span>
                                        <span *ngIf="!refreshing">Save Changes </span>
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

            </div>


    <div class="col-12 col-md-3 mb-3">
        <div class="card mb-3">
            <div class="card-body">
                <div class="px-xl-3">
                    <button (click)="onLogOut()" class="btn btn-block btn-secondary">
                        <span>Logout</span>
                        <i class="fa fa-sign-in-alt ml-1"></i>

                    </button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h6 class="card-title font-weight-bold">Permissions From Role</h6>
                <h6 *ngFor="let authority of user.authorities" class="card-text"> {{authority}}
                </h6>
            </div>
        </div>
    </div>

</div></div></div>
 


      

                                    








<!--   <nav class="navbar navbar-expand-md breadcrumb">

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="nav nav-pills">   -->


<!--    <a [hidden]="!isAdminOrScrumMaster" class="nav-item nav-link  ml-3" (click)="changeTitle('projet')" data-toggle="tab" href="#projet">
                    <i class="fa fa-cogs"></i>
                   Projets
                </a>
                 <a [hidden]="!isAdminOrScrumMaster" class="nav-item nav-link  ml-3" (click)="changeTitle('sprint')" data-toggle="tab" href="#sprint">
                    <i class="fa fa-cogs"></i>
                   Sprints
                </a> 

               <a [hidden]="!isAdmin" class="nav-item nav-link  ml-3" (click)="changeTitle('reset-password')"
                    data-toggle="tab" href="#reset-password">
                    <i class="fa fa-cogs"></i>
                    Settings
                </a>

            -->


<!--    <a class="nav-item nav-link move-right mr-3"  data-toggle="tab"
                    href="#profile">
                    Welcome, {{user.username}}
                    <i class="fa fa-user"></i>
                </a> 

            </div>
        </div>


    </nav>-->




<!-- profile user  -->

<!-- <div class="tab-pane fade" id="profile">
        <div class="container " >

            <div class="row flex-lg-nowrap ">


                <div class="col">
                    <div class="row">
                        <div class="col mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="e-profile">
                                        <div class="row">
                                            <div class="col-12 col-sm-auto mb-3">
                                                <div class="mx-auto" style="width: 120px;">
                                                    <div
                                                        class="d-flex justify-content-center align-items-center rounded">
                                                        <img class="rounded" height="135" width="135"
                                                            src="{{user.profileImageUrl}}" alt="">
                                                    </div>


                                                    <div *ngIf="fileStatus.status==='progress'" class="progress mt-1">
                                                        <div class="progress-bar bg-info" role="progressbar"
                                                            [style.width.%]="fileStatus.percentage" aria-valuenow="0"
                                                            aria-valuemin="0" aria-valuemax="100">
                                                            {{fileStatus.percentage}}%
                                                        </div>
                                                    </div>



                                                </div>
                                            </div>


                                            <div
                                                class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                                <div class="text-center text-sm-left mb-2 mb-sm-0">
                                                    <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{user.username}}
                                                    </h4>
                                                    <p class="mb-0"> ID :{{user.userId}}</p>

                                                    <div *ngIf="user.lastLoginDateDisplay !==null" class="text-muted">
                                                        <small>Last Login: {{
                                                            user.lastLoginDateDisplay | date: 'medium'}}</small>
                                                    </div>

                                                    <div class="mt-2">
                                                        <button (click)="updateProfileImage()" class="btn btn-primary"
                                                            type="button">
                                                            <i class="fa fa-fw fa-camera"></i>
                                                            <span>Change Photo</span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="text-center text-sm-right">
                                                    <div class="text-muted"><small>Joined :{{ user.joinDate |
                                                            date:'mediumDate'}} </small></div>
                                                </div>
                                            </div>
                                        </div>



                                        <div class="tab-content pt-3">
                                            <div class="tab-pane active">
                                                <form #profileUserForm="ngForm"
                                                    (ngSubmit)="onUpdateCurrentUser(profileUserForm.value)" class="form"
                                                    novalidate="">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="row ">

                                                                <div class="col ">
                                                                    <div class="form-group">
                                                                        <label>&nbsp;&nbsp; Username</label>
                                                                        <input class="form-control " type="text"
                                                                            name="username" required
                                                                            [(ngModel)]="user.username">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col">
                                                                    <div class="form-group">
                                                                        <label>&nbsp;&nbsp; Profession</label>
                                                                        <input class="form-control" type="text"
                                                                            name="professionUser" required
                                                                            [(ngModel)]="user.professionUser">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col">
                                                                    <div class="form-group">
                                                                        <label>&nbsp;&nbsp; Telephone</label>
                                                                        <input class="form-control" type="text"
                                                                            name="telephone" required
                                                                            [(ngModel)]="user.telephone">
                                                                    </div>
                                                                </div>
                                                            </div>




                                                            <div class="row">
                                                                <div class="col">
                                                                    <div class="form-group">
                                                                        <label>&nbsp;&nbsp; Email</label>
                                                                        <input class="form-control" type="text"
                                                                            name="email" required
                                                                            [(ngModel)]="user.email">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col mb-3">
                                                                    <div class="form-group">
                                                                        <label> &nbsp;&nbsp; Role</label>

                                                                        <select name="role" required
                                                                            [(ngModel)]="user.role"
                                                                            class="form-control">
                                                                            <option value="ROLE_MEMBER">MEMBER
                                                                            </option>
                                                                            <option value="ROLE_CHEF">CHEF
                                                                            </option>
                                                                            <option value="ROLE_SCRUM_MASTER">
                                                                                SCRUM_MASTER
                                                                            </option>
                                                                            <option value="ROLE_ADMIN">ADMIN
                                                                            </option>
                                                                        </select>



                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                                                            <div class="mb-2"><b>Account Settings</b></div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <div class="custom-controls-stacked px-2">
                                                                        <div class="custom-control custom-checkbox">
                                                                            <input name="isActive" type="checkbox"
                                                                                [(ngModel)]="user.isActive"
                                                                                class="custom-control-label">

                                                                            <label
                                                                                class="custom-control-label">Active</label>

                                                                        </div>
                                                                        <div class="custom-control custom-checkbox">

                                                                            <input name="isNotLocked" type="checkbox"
                                                                                [(ngModel)]="user.isNotLocked"
                                                                                class="custom-control-input">

                                                                            <label
                                                                                class="custom-control-label">Unlocked</label>


                                                                        </div>



                                                                    </div>


                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>



                                                    <div class="row">
                                                        <div class="col d-flex justify-content-end">
                                                            <button type="submit" [disabled]="false"
                                                                class="btn btn-primary">
                                                                <i *ngIf="refreshing"
                                                                    class="fas fa-spinner fa-spin"></i> &nbsp;&nbsp;
                                                                <span *ngIf="refreshing">Loading....</span>
                                                                <span *ngIf="!refreshing">Save Changes </span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-3 mb-3">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="px-xl-3">
                                        <button (click)="onLogOut()" class="btn btn-block btn-secondary">
                                            <span>Logout</span>
                                            <i class="fa fa-sign-in-alt ml-1"></i>

                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-title font-weight-bold">Permissions From Role</h6>
                                    <h6 *ngFor="let authority of user.authorities" class="card-text"> {{authority}}
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

</div> -->






<!--Profile image change form-->
 <form enctype="multipart/form-data" style="display:none;">
    <input type="file"
        (change)="onProfileImageChange($event.target.files[0].name ,$event.target.files[0]); onUpdateProfileImage()"
        name="profile-image-input" id="profile-image-input" placeholder="file" ngModel accept="image/*" />

</form>